body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.75rem;
}

.app {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  margin-top: 80px;
  /* To offset the fixed header */
}

.hidden {
  display: none;
}

.code-box {
  font-size: 1.5rem;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.spinner-container {
  margin-top: 20px;
  height: 60px;
  /* Consistent height for spinners to prevent layout shifting */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #333;
  animation: spin 1s infinite linear;
}

.spinner.hidden {
  visibility: hidden;
  /* Keep space reserved to prevent layout shifts */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}